<ion-header class="ion-no-border">
  <ion-toolbar class="header-gradient">
    <ion-title class="ion-text-center">Couple Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <ion-icon name="heart" class="heart-icon"></ion-icon>
    <h2 class="welcome-title">Bienvenue sur Couple Game</h2>
    <p class="welcome-text">
      Prêts pour une aventure à deux ? Découvrez-vous mutuellement à travers des
      défis amusants et romantiques.
    </p>
  </div>

  <div class="form-container">
    <h3 class="ion-text-center">Commencez votre voyage</h3>
    <p class="subtitle ion-text-center">
      Entrez vos prénoms pour personnaliser votre expérience
    </p>

    <ion-list>
      <ion-item class="custom-item">
        <ion-label position="floating">Premier partenaire</ion-label>
        <ion-input
          [(ngModel)]="player1"
          placeholder="Votre prénom"
          class="custom-input"
        >
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="floating">Deuxième partenaire</ion-label>
        <ion-input
          [(ngModel)]="player2"
          placeholder="Votre prénom"
          class="custom-input"
        >
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      class="start-button"
      [disabled]="!isFormValid()"
      (click)="startGame()"
    >
      <span>Démarrer l'aventure ensemble</span>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
